/* Configure Databases */
//params{

/* Running parameters */


/* Databases */
//    hostrm_bowtie2_idx='/proj/virus/db/hg38/hg38'
//}

/* Configure steps, CPU and PATH requirements */
process {
    executor='local'
    errorStrategy = 'ignore'

    withName: bbmap_paired {
    //   #beforeScript="export PATH=/proj/virus/tools/TrimGalore/0.6.0:$PATH"
        cpus = 8
    }

    withName: bbmap_unpaired{
        cpus = 8
    }

    withName: flagstat{
        cpus = 2
    }

    withName: pythonPlot{ 
        cpus = 2
    }
    withName: pythonGenTable{
	cpus = 1
    }  
}
