/* Configure Databases */
params{

/* Running parameters */


/* Databases */
    hostrm_bowtie2_idx='/proj/nobackup/sens2017627/db/GRCh38/bowtie2/hg38'
}


/* Configure steps, CPU and PATH requirements */
process {
    errorStrategy = 'ignore'
    scratch = '$SNIC_TMP'

    /* Set default parameters for cluster */
    executor = 'slurm'
    // If a process requires 16 processors, change queue to node! (or nextflow goes crazy)
    queue = 'core'
    clusterOptions ='-A sens2017627'

    /* QC **/
    withName: qf_raw_fastqc{
        module = 'FastQC/0.11.5'
        cpus =8
        time="2:00:00"
    }

    withName: qf_trimgalore {
        module = 'TrimGalore/0.4.4'
        cpus = 8
        time="2:00:00"
    }

    withName: qf_remove_sispa_adapters_pe{
        module = 'cutadapt/2.0'
        cpus = 1
        time = "2:00:00"
    }

    withName: qf_remove_sispa_adapters_se{
        module = 'cutadapt/2.0'
        cpus = 1
        time = "2:00:00"
    }

    /* Host removal */
    withName: hostrm_map_to_grch38_pe{
        module = 'bowtie2/2.3.4.3:samtools/1.9'
        cpus = 8
        time = "2:00:00"
    }

    withName: hostrm_map_to_grch38_unpaired{
        module = 'bowtie2/2.3.4.3:samtools/1.9'
        cpus = 8
        time = "2:00:00"
    }

    withName: hostrm_mapping_flagstat{
        module = 'samtools/1.9'
        cpus = 4
        time = "2:00:00"
    }

    withName: hostrm_mapping_idxstats{
        module = 'samtools/1.9'
        cpus = 4
        time = "2:00:00"
    }

    withName: hostrm_sam_pe_to_fastq{
        module = 'samtools/1.9'
        cpus = 2
        time = "2:00:00"
    }
    withName: hostrm_sam_unpaired_to_fastq{
        module = 'samtools/1.9'
        cpus = 2
        time = "2:00:00"
    }
}
